@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: oklch(0.768 0.233 130.85)
  --color-secundary: oklch(0.648 0.2 131.684);
  --color-terciary: oklch(0.274 0.072 132.109);
}