@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary-lime: oklch(0.841 0.238 128.85);
	--color-secundary-lime: oklch(0.532 0.157 131.589);
	--color-tertiary-lime: oklch(0.274 0.072 132.109);
}
